* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
}

body {
  background: #eee;
  padding: 0 16px;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}

.header {
  background-color: #fc5c65;
  margin-left: -50px !important;
  margin-right: -50px !important;
  padding: 20px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.header h1 {
  color: #fff;
  font-family: "Lobster", cursive;
  text-align: center;
  font-size: 2em;
}

.timer h1 {
  text-align: center;
  font-size: 18em !important;
  font-weight: 500;
}

button {
  width: 100px;
  height: 45px;
  margin: 15px 30px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #333;
  background-color: #26de81;
  border: none;
  border-radius: 45px !important;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

button:hover {
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
  /* color: #fff; */
  transform: translateY(-7px);
}

.buttons {
  justify-content: center;
  display: flex;
}

.buttons i {
  margin-left: 10px;
  color: #333;
}

#pause {
  background-color: #fc5c65
}

#restart {
  background-color: #fd9644
}

#plus {
  width: 30px;
  height: 30px;
  border-radius: 100px;
  text-align: center;
  margin: 5px 5px 0px 5px;
  background-color: #778ca3;
  color: #d1d8e0 !important;
}

#plus i {
  margin-right: 7px;
}

#plus:hover {
  transform: none;
}

#intervalsLeft {
  text-align: center;
  letter-spacing: 1px;
  font-size: 2em;
  color: #333;
}

#intervalsTitle {
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #333;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 8px;
}